*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #331928;
}
.container{
    width: 70%;
    max-width: auto;
    text-align: center;
}
.dice{
    text-align: center;
    display: inline-block;
}

h1{
   font-family: ;
    display: inline;
    margin: 30px;
    text-shadow: 5px wheat;
    font-size:6rpm;
    color: tomato;    
}
p{
    font-size: 2rem;
    color: rgb(4, 52, 93);
    text-shadow : 1px 1px white;
}
button{
    text-align: center;
    
    padding: 10px; 
    border: rgb(187, 14, 23);
}
img{
    margin: auto;
    width: 100%;
    height : 100%;
}
#btn{
   display: inline-block; 
}